<% @aksi = "Hasil" %>
<% @objek = "Beranda" %>


<% unless @dataAve.empty? %>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Diagram Hasil</h3>
      </div>
      <div class="box-body table-responsive no-padding">
          <%= column_chart @reschart %>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Matriks Average Alternatif Per Kriteria</h3>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <% @criterions.each do |c| %>
                <th><%= c.name %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @alternatives.each_with_index do |d, ind| %>
              <tr>
                <th><%= d.name %></th>
                <% @criterions.each_with_index do |dd, i| %>
                <td><%= @dataAve[i][ind].round(3) %></td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Matriks Average Kriteria</h3>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">

            <tbody>
              <% @aveCri.each do |d| %>
              <tr>
                <td><%= d.round(3) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Hasil</h3>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">

            <tbody>
              <% @alternatives.each_with_index do |al, i| %>
              <tr>
                <th><%= al.name %></th>
                <td><%= @result[i][0].round(3) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<% else %>
    <% if flash[:notice] %>
      <div class="callout callout-info">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>

    <% if flash[:warning] %>
      <div class="callout callout-danger">
        <p><%= flash[:warning] %></p>
      </div>
    <% end %>
  <% end %>
