<hr>
<%= form_for @cc, :html => {:class => "form-horizontal form-label-left"} do |f| %>
  <%= render "shared/errors", object: @cc %>
  <div class="form-group">
    <%= f.label '', "Nama Kriteria 1 :", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <%= collection_select('', '', Criterion.where(id: @nowCri[0]), :id, :name, {}, {:class => "form-control", disabled: true}) %>
      </div>
  </div>
  <div class="ln_solid"></div>
  <div class="form-group">
    <%= f.label '', "Perbandingan :", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= f.number_field :comparison, class: "form-control select2" %>
      </div>
  </div>
  <div class="ln_solid"></div>
  <div class="form-group">
    <%= f.label :other_criterion_id, "Nama Kriteria 2 :", class: "control-label col-md-3 col-sm-3 col-xs-12" %>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <%= collection_select('', '', Criterion.where(id: @nowCri[1]), :id, :name, {}, {:class => "form-control", disabled: true}) %>
      </div>
  </div>
  <div class="ln_solid"></div>
  <%= hidden_field(:criterion_comparison, :criterion_id, :value => @nowCri[0]) %>
  <%= hidden_field(:criterion_comparison, :other_criterion_id, :value => @nowCri[1]) %>
  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
      <%= f.submit "Selanjutnya", class: "btn btn-primary pull-right" %>
    </div>
  </div>
<% end %>
