<% @url = alternatives_url %>
<% @aksi = "List" %>
<% @objek = "Alternatif" %>
<%= link_to 'Tambah Alternatif', new_alternative_path, class: 'btn btn-primary pull-right' %>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                <td>#</td>
                <td>Nama Alternatif</td>
                <td>Aksi</td>
              </tr>
            </thead>
            <tbody>
              <% nomor = 1 %>
              <% @alternatives.each do |a| %>
              <tr>
                <td><%= nomor %></td>
                <td><%= a.name %></td>
                <td><%= link_to 'Ubah', edit_alternative_path(a), class: 'btn btn-warning' %>   <%= link_to 'Hapus', a, method: :delete, class: 'btn btn-danger' %></td>
                <td></td>
              </tr>
              <% nomor+=1 %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
